*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: justify;
  line-height: 24px;
  background-color: #eee;
}

button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
  user-select: none;
}

#root {
  max-width: 960px;
  margin: 50px auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 2px;
}