.comments {
  &__title {
    display: flex;
    align-items: center;
    h2 {
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__content {
    padding-top: 30px;
    padding-left: 50px;
    p {
      font-size: 14px;
      font-style: italic;
    }
  }
}